//variables
$clr-black: #0f1438;
$clr-white: #fff;
$clr-primary: #5b21a1;
$clr-secondary: #033864;
$clr-gray: #e4e4e4;
$clr-gray2: #939393;
$light-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
$dark-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.42);
$radius: 0.5rem;
$font-size: 1.4rem;

:root {
  width: 100vw;
  height: auto;
  font-size: 10px;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: $font-size;
}
body {
  font-family: "Montserrat", "noto sans", sans-serif;
  font-weight: 300;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  color: $clr-black;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    background: transparent;
    height: 0.8rem;
    width: 0.8rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    width: 0.8rem;
    background-color: rgba($clr-gray2, 0.5);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

h1,
h2,
h3 {
  font-size: 2.8rem;
}

li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: $clr-black;
}
//Mixins
@mixin transition-short {
  transition: all 0.3s ease-in-out;
}
@mixin transition-medium {
  transition: all 0.5s ease-in-out;
}
@mixin transition-long {
  transition: all 1s ease-in-out;
}

@mixin flex-row {
  display: flex;
  align-items: center;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin l-shadow {
  box-shadow: $light-shadow;
}
@mixin d-shadow {
  box-shadow: $dark-shadow;
}
@mixin pc {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin tiny {
  @media screen and (max-width: 300px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 960px) {
    @content;
  }
}
@mixin tablet-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin ultra {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

.container {
  width: 95%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  // overflow-x: hidden;
  // &::-webkit-scrollbar {
  //   background: transparent;
  //   width: 0.7rem;
  //   position: absolute;
  // }
  // &::-webkit-scrollbar-thumb {
  //   border-radius: 2rem;
  //   margin-left: 1rem;
  //   background-color: rgba($clr-primary, 0.5);
  //   position: absolute;
  //   right: -5rem;
  // }
}

button {
  height: 4rem;
  width: 13rem;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  border: none;
  color: $clr-white;
  background-color: $clr-primary;
  @include transition-short;

  &:hover {
    transform: translateY(-0.5rem);
    @include d-shadow;
  }
  &.secondary {
    background-color: $clr-secondary;
    color: $clr-white;
  }
  &.outline.secondary {
    border: 1px solid $clr-secondary;
    background-color: transparent;
    color: $clr-black;
  }
  &.outline {
    border: 1px solid $clr-primary;
    background-color: transparent;
    color: $clr-black;
    &.plain {
      border: none;
      background-color: transparent;
      color: $clr-primary;
      font-weight: bold;
    }

    &:hover {
      color: $clr-white;
      background-color: $clr-primary;
    }
  }
}
